* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: arial;
    border: none;
}

nav {
    background-color: black;
    padding: 1em;
}

nav a {
    color: white;
}

nav .logo {
    font-size: 36px;
}

nav .notif img{
    height: 40px;
    width: 40px;
    float: right;
}

nav .buildName {
    font-size: 26px;
    float:right;
    margin-top: 0.3em;
    margin-right: 0.5em;
}

main {
    text-align: center;
    justify-content: center;
}

main form .formContent {
    background-color: #DFDFDF;
    width: fit-content;
    /*top right bottom left*/
    padding: 20px 10px 10px 10px;
}

main form .btnDiv button {
    background-color: #19C940;
    color: white;
}

footer {
    background-color: black;
    padding: 1em;
}

footer a {
    color: white;
}