* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: arial;
}

nav {
    background-color: black;
    padding: 1em;
}

nav a {
    color: white;
}

nav .logo {
    font-size: 36px;
}

nav .notif img{
    height: 40px;
    width: 40px;
    float: right;
}

nav .buildName {
    font-size: 26px;
    float:right;
    margin-top: 0.3em;
    margin-right: 0.5em;
}

main .pgTitle {
    display: flex;
    font-size: 27px;
}

main .pgTitle div {
    margin: 10px;
}

main .pgTitle input{
    border: none;
    font-size: 27px;
    font-weight: 700;
    pointer-events: none;
}

main .overall {
    display: flex;
}

main .dotted {
    border-style: dotted;
    padding: 10em 6em;
    width: fit-content;
    /*top right bottom left*/
    margin: 50px 50px 50px 100px;
}

main .tbl {
    /*top right bottom left*/
    margin: 50px 0px 0px 0px;   
}

main .tbl table {
    border-collapse: collapse;
}

main .tbl th{
    border: 0.1em solid;
    padding: 0.3em;
}

main .tbl table, th, td {
    text-align: center;
}

main .tbl table, th, td a{
    margin: 0.3em;
}

footer {
    background-color: black;
    padding: 1em;
}

footer a {
    color: white;
}