<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <nav>
        <a class="logo" href="#">
            <img src="/images/20220607_113005_0000.jpg" alt="" srcset="">
            ELEMA-GS2
        </a>    
    </nav>
    <main>
        <form action="/buildIn" method="post">
            <div class="gray">
                <label for="loginID">Please Enter Building ID:</label>
                <input name="loginID" id="loginID" type="text" placeholder="Type here...">
            </div>
            <button id="enterBuildID" type="submit">ENTER</button>
        </form>
    </main>
    <footer>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </footer>
</body>
</html>