* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: arial;
    border: none;
}

nav {
    background-color: black;
    padding: 1em;
}

nav a {
    color: white;
}

nav .logo {
    font-size: 36px;
}

nav .notif img{
    height: 40px;
    width: 40px;
    float: right;
}

nav .buildName {
    font-size: 26px;
    float:right;
    margin-top: 0.3em;
    margin-right: 0.5em;
}

nav .notifContent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: gray;
    float: right;
}

.notif:hover .notifContent {
    display: block;
}

#belowNav {
    background-color: #CCCBCB;
    display: flex;
    padding: 10px;
}

.right {
    width: 100%;
}

.right input{
    float: right;
    height: 100%;
}

#search {
    float: right;
    background-color: #fff;
}

main h1 {
    color: #6B6B6B;
    width: 100%;
    font-size: 40px;
    /*top right bottom left*/
    margin: 10px 0 0 30px;
}

.overall {
    display: flex;
}

.initDiv {
    margin: 20px;
}

#calendar {
    margin: 10px;
    border: #000 1px solid;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#calendar table th {
    padding: 5px;
}

.monthYear {
    font-size: 30px;
}

.red {
    background-color: red;
    color: white;
    border-radius: 25px;
}

#schedTasks {
    background-color: #E5E1E1;
    padding: 20px;
}

#schedTasks ul {
    list-style-type:none;
    display: flex;
}

#schedTasks ul li{
    display: flex;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 25px;
    /*top right bottom left*/
    margin: 0 5px 0 15px;
}

#viewSched {
    margin: 0 0 0 130px;
}

.dashDisply {
    margin: 10px;
}

.dashDisply h2 {
    font-size: 25px;
}

.dashDisply label {
    font-size: 20px;
}

.figs input{
    text-align: center;
    font-size: 35px;
    width: 50px;
}

footer {
    background-color: black;
    padding: 1em;
}

footer a {
    color: white;
}