* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: arial;
    border: none;
}

nav {
    background-color: black;
    padding: 1em;
}

nav a {
    color: white;
}

nav .logo {
    font-size: 36px;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

main form {
    margin: 200px;
    font-size: 20px;
}

.gray {
    background-color: #DFDFDF;
    width: 300px;
    /*top right bottom left*/
    padding: 40px 10px 15px 10px;
}

.gray input {
    height: fit-content;
    margin: 10px 0 0 0;
    padding: 5px;
    width: 200px;
}

.gray input[type="text"] {
    font-size: 20px;
}

.gray input::placeholder {
    font-size: 20px;
}

#enterBuildID {
    background-color: #19C940;
    color: #fff;
    padding: 10px 35px;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px;
}

footer {
    background-color: black;
    padding: 1em;
}

footer a {
    color: white;
}